# Ignore everything in the data folder
gan/data/

# Ignore python cache
**/__pycache__/
*.pyc

# Ignore environment and weights
myenv/
*.h5
*.pth

# Ignore result folders
result/
yolov8/result/

# Ignore YOLO outputs
runs/
*.pt
*.onnx
*.engine

# Python cache
__pycache__/
*.pyc