# ==================================================
# IGNORE ONLY YOLO DATA INSIDE RESULTS
# ==================================================

yolov8/result/yolov8-2results/yolo_data/
yolov8/result/yolov8results/yolo_data/


# ==================================================
# DATASETS (General)
# ==================================================

data/
datasets/
gan/data/


# ==================================================
# MODEL WEIGHTS
# ==================================================

*.pt
*.pth
*.onnx
*.engine
*.h5


# ==================================================
# PYTHON CACHE
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==================================================
# VIRTUAL ENVIRONMENTS
# ==================================================

venv/
env/
myenv/


# ==================================================
# JUPYTER
# ==================================================

.ipynb_checkpoints/


# ==================================================
# VS CODE
# ==================================================

.vscode/


# ==================================================
# LOGS
# ==================================================

*.log


# ==================================================
# OS FILES
# ==================================================

.DS_Store
Thumbs.db